# TEST Astro DataLab (Noirlab)

- author : Sylvie Dagoret-Campagne
- creation date : 2024-12-21
- last update :
- Work on my python environnement conda_py313
- Follow the installation instructions here

https://datalab.noirlab.edu/docs/manual/UsingAstroDataLab/InstallDatalab/InstallDatalab/InstallDatalab.html

In [2]:
from dl import authClient as ac, queryClient as qc
from dl.helpers.utils import convert
from getpass import getpass

In [3]:
ac.login(input("Enter user name: (+ENTER) "),getpass("Enter password: (+ENTER) ")) # credentials to log into datalab

Enter user name: (+ENTER)  sdagoret
Enter password: (+ENTER)  ········

'sdagoret.5291.5291.$1$X6/LfK9Q$5cp2A7x1Q77Cm3mBt4grH/'

In [4]:
query = 'SELECT ra,dec FROM smash_dr1.exposure LIMIT 100' # SQL query string
result = qc.query(sql=query) # your query result as a CSV-formatted string
df = convert(result) # result as a Pandas data frame

In [5]:
df

            ra        dec
0   103.630568 -36.994465
1   103.634079 -36.994133
2   103.816436 -36.923121
3   103.817647 -36.922120
4   103.817042 -36.921480
..         ...        ...
95  149.084994 -27.929167
96  149.085683 -27.929255
97  149.083953 -27.927737
98  149.083709 -27.926851
99  149.086737 -27.929331

[100 rows x 2 columns]