# Convert excel to csv

In [8]:
import pandas as pd
from astropy.coordinates import Angle
from astropy import units as u

In [3]:
filename = "../astronomical_data/openclusters_wikipedia.xlsx"

In [6]:
#df = pd.read_excel(filename, index_col=None, header=None)  
df = pd.read_excel(filename, index_col=None)

In [7]:
df

,cluster_name,RA,DEC,constellation,distance_pc,age_myr,diameter_arcsec,magV
0,Hyades,04h 26.9m,+15° 52′,Taurus,47.000,625,330',0.5
1,Coma Star Cluster,12h 22.5m,+25° 51′,Coma Berenices,86.000,400-500,120',1.8
2,Trapezium Cluster,5h 35.4m,−05° 27′,Orion,412.000,0.3,0.783',4.0
3,"Messier 6, Butterfly Cluster",17h 40.1m,−32° 13′,Scorpius,487.000,94,20',4.2
4,Messier 7,17h 53.8m,−34° 47′,Scorpius,280.000,224,80',3.3
...,...,...,...,...,...,...,...,...
102,"NGC 3766, Pearl Cluster",11h 36.2m,−61° 37′,Centaurus,1745.000,14,12',5.3
103,NGC 7419,22h 54.3m,+60° 48.9′,Cepheus,2.800,NaN,2',13.0
104,"NGC 7789, White Rose Cluster",23h 57.4m,+56° 43′,Cassiopeia,2.337,1.7,16',6.7
105,Gaia 1,06h 45.9m,−16° 45′,Canis Major,4.600,6.3,13',8.3
106,Ru 7,06h 58.9m,−13° 15′,Canis Major,NaN,NaN,NaN,NaN

In [11]:
angl1 = Angle("04h 26.9m")

In [12]:
angl2 = Angle("+15° 52′")

In [14]:
angl1.degree

66.725

In [15]:
angl2.degree

15.866666666666667